.header-container {
    padding-top: 2.5%;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.gradient-text {
    background-image: linear-gradient(1deg, aqua, green);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-container {
  display: flex;
  justify-content: center;
}
.content-card {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 40%;
    height: 80%;
    border-radius: 5px;
    border: 0;
    border-color: black;
    box-shadow: 0 0 10px lightgray;
}

.card-header {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

