.header-container {
  padding-top: 2%;
  display: flex;
  justify-content: center;
}

h1{
    font-family: "Nunito", sans-serif;
    font-size: 40px;
    text-transform: uppercase;
}

.gradient-text {
  background-image: linear-gradient(1deg, aqua, green);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-card {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    border: 0;
    border-color: black;
    box-shadow: 0 0 10px whitesmoke;
}
