<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='shared_style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='download_style.css') }}" />
</head>


<body>
    <nav class="navigation-bar">
      <ul>
        <li><a href="/" role="button">Startseite</a></li>
        <li><a href="/account" role="button">Account</a></li>
        <li><a href="/songs" role="button">Alle Songs</a></li>
        <li><a href="/download" role="button">Download</a></li>
      </ul>
    </nav>

    <div class="form-container">
        <form action="/download_song" method="post">
          <input type="text" name="link" id="link" placeholder="Link to song">
          <input type="submit" class="button" name="download_button" value="Download">
        </form>
    </div>
</body>
