<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='songs_style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='shared_style.css') }}" />
</head>

<title>SAS - Smart Audio System</title>

<body>

  <nav class="navigation-bar">
    <ul>
      <li><a href="/" role="button">Startseite</a></li>
      <li><a href="/account" role="button">Account</a></li>
      <li><a href="/songs" role="button">Alle Songs</a></li>
      <li><a href="/download" role="button">Download</a></li>
    </ul>
  </nav>

  <div class="table-container">
    <table id="songs" class="styled-table" style="width: 100%">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Play</th>
        </tr>
      </thead>
      <tbody>
        {% for s in songs %}
        <tr class="active-row">
          <td>{{s.id}}</td>
          <td>{{s.name}}</td>
          <td>
            <form action="/play/{{s.name}}" method="POST">
              <input type="submit" class="button" name="stop" value="PLAY">
            </form>
           <!--<a type="button" class="button" href="/play/{{s.name}}" role="button">Play</a>-->
           <!--<button type="submit" class="button" name="play_button" value="{{s.name}}" method="POST">Play</button>-->
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  <!--TODO: Control Bar schreiben (so wie Spotify), dazu noch zu machen:
          - Css von Buttons fixen ==> damit sie wieder sexy aussehen
          - Control bar soll unten kleben und immer zu sehen sein, solange man bei songs ist
          - Die 3 Buttons neben einander in der Mitte platzieren
          - Volumne zu einem Slider ändern
          - Progress-Bar für Musik einbauen (evtl. Zeit herauslesen, das als länge nehmen und pro sekunde 1 weiter)
          - oben Account und Button um zum hauptmenü zu kommen, anzeigen (soll immer oben zu sehen sein)
            
          => Youtube - Download + wav converter schreiben und testen
          => Später Account seite machen
        -->
  <div class="control-bar"> 

    <form action="/stop" method="POST">
      <input type="submit" class="button" name="stop" value="STOP">
    </form>
  
    <form action="/pause" method="POST">
      <input type="submit" class="button" name="pause" value="PAUSE">
    </form>
  
    <form action="/unpause" method="POST">
      <input type="submit" class="button" name="unpause" value="UNPAUSE">
    </form>
    <form action="/volume" method="POST">
      <label for="volume">Volume: </label>
      <input id="volume" name="volume" type="text"/>
      <input type="submit" class="button" name="volume_btn" value="SET VOLUME" />
    </form>
    
  </div>
  <!--<form action="/volume" method="post" enctype="multi/form-data" id="form">
    <label for="volume">Volume: </label>
    <input id="volume" type="text" />
    <a href="javascript:;" onclick="this.href='/volume/' + document.getElementById('volume').value">Send</a>
  </form>-->
  
</body>

